{% extends "base.html" %}

{% block title %}Order Confirmation{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Order Confirmation</h2>
    <p>Thank you for your order, {{ order.user.username }}!</p>
    <p>Your order number is {{ order.id }}.</p>
    <h3>Order Summary</h3>
    <ul>
        {% for item in order_items %}
            <li>{{ item.quantity }} x {{ item.product.name }}: Ksh {{ item.price }}</li>
        {% endfor %}
    </ul>
    <p>Total Price: Ksh {{ total_price }}</p>
    <p>Shipping Fee: Ksh {{ shipping_fee }}</p>
    <p>Total: Ksh {{ total_price }}</p>
    <p>We will send you an email with the order details.</p>
    <p>For any inquiries, please contact our customer service.</p>

    <a href="{% url 'index' %}" class="btn btn-primary">Back to Home</a>
</div>
{% endblock %}
