{% extends "base.html" %}

{% block title %}Order Confirmation{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Order Confirmation Header -->
    <h2 class="text-center mb-4">Order Confirmation</h2>
    <div class="alert alert-success text-center" role="alert">
        <p>Thank you for your order, <strong>{{ order.user.username }}</strong>!</p>
        <p>Your order number is <strong> {{ order.id }}</strong>.</p>
    </div>

    <!-- Order Details -->
    <div class="card no-scale mb-4">
        <div class="card-body ">
            <h4 class="card-title">Order Details</h4>
            <p><strong>Date Ordered:</strong> {{ order.created_at }}</p>
            <p><strong>Shipping Address:</strong> {{ order.address }}, {{ order.city }}, {{ order.postal_code }}</p>
            <p><strong>Total Items:</strong> {{ order_items|length }}</p>
        </div>
    </div>

    <!-- Order Summary (shared partial) -->
    <h3 class="mb-3">Order Summary</h3>
    {% include "order_summary.html" with cart_items=order_items shipping_fee=shipping_fee total_price=total_price %}

    <!-- Notification and Back Button -->
    <p class="mt-4 text-center">We will send you an email with the order details and notify you once your order is
        shipped.</p>
    <p class="mt-4 text-center">You can Track the status of your order here <a href="{% url 'track_order' %}">Track
            Order</a> .</p>
    <p class="text-center">For any inquiries, please contact our customer service.</p>

    <div class="text-center">
        <a href="{% url 'index' %}" class="btn btn-primary">Go Back</a>
    </div>
</div>
{% endblock %}